main section {
    padding: 30px 0px 15px 0px;
}

main section:nth-child(even) {
    background-color: var(--cor-sombra);
}

.accordion {
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
}

.accordion:hover {
    background-color: var(--cor-padrao);
    color: white;
}

.active {
    background-color: var(--cor-padrao);
    color: white;
}

.panel {
    display: none;
    overflow: hidden;
    font-family: var(--fonte-padrao);
    padding: 20px;
}

main h1 {
    background-color: var(--cor-sombra);
}

h1 {
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.089);
}

img {
    display: block;
    margin: auto;
    width: 90vw;
}

h2 {
    padding: 15px 0px 0px 15px;
    font-family: var(--fonte-padrao);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.089);
}

h3 {
    padding: 0px 15px 15px 15px;
    font-family: var(--fonte-subtitulo);
}

p {
    padding: 0px 15px ;  
    text-align: justify;
}

p::first-letter {
    font-size: 200%;
}