main {
    padding: 10px;
}

main img {
    display: block;
    margin: auto;
    padding: 10px 0px 5px 0px;
    width: 90vw;
}

h2 {
    padding: 5px 0px 0px 5px;
    font-family: var(--fonte-destaque);
}

h3 {
    padding: 0px 15px 15px 5px;
    font-family: var(--fonte-subtitulo);
}

p {
    padding: 0px 40px ;  
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}

p::first-letter {
    font-size: 200%;
}

#content {
    display: flex;
    margin: 10px -10px;
    height: 400px;
    background-image: url(/imagens/pexels-david-3712595.jpg);
    background-size: cover;
}

#content > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.219);
}

#assin {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}