main {
    padding: 10px;
}

main img {
    display: block;
    margin: auto;
    padding: 10px 0px 5px 0px;
    width: 90vw;
}

h2 {
    padding: 5px 0px 0px 5px;
    font-family: var(--fonte-destaque);
}

h3 {
    padding: 0px 15px 15px 5px;
    font-family: var(--fonte-subtitulo);
}

p {
    padding: 0px 15px ;  
    text-align: justify;
    font-family: var(--fonte-padrao);
}

p::first-letter {
    font-size: 200%;
}

#assin {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}