nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    transition: .3s;
    font-family: var(--fonte-subtitulo);
    font-size: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

a:hover {
    background-color: var(--cor-padrao);
    transition: .4s;
    border-bottom: 100% solid white;
}

a.active {
    background-color: var(--cor-padrao);
}