@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Declaration property in order:
.select {
        //POSITIONING
    position...
    top...
    right...
        //BOX MODEL
    display...
    width...
    max-width...
    padding...
    border-radius...
        //TYPOGRAPHY
    font-size...
    font-family...
        //VISUAL
    background...
    border...
    filter...
}

    CORES:
B8B8D1
FFFFFB
710627
FF7F11
19297C
[https://coolors.co/b8b8d1-fffffb-710627-ff7f11-19297c]

    FONTES:
Roboto;
Roboto Condensed;
Montserrat.
*/

:root { /*variáveis para cores e fontes*/
    /*variáveis para CORES*/
    --cor-padrao:#710627;
    --cor-contraste1:#FF7F11;
    --cor-contraste2:#19297C;
    --cor-sombra:#B8B8D1;
    --cor-clara:#FFFFFB;

    /*variáveis para FONTES*/
    --fonte-destaque: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-padrao: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-subtitulo: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.ico {  /*icones*/
    width: 35px;
    height: 35px;
}

body {
    background-color: black;
}

header {
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

main {
    background-color: white;
}

#intro {
    padding: 15px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.37);
    font-family: var(--fonte-destaque);
    color: white;
    background-color: var(--cor-padrao);
    background-image: url(/imagens/pexels-ken-tomita-389818.jpg);
    background-size: cover;
    opacity: 90%;
}

#intro > p {
    position: relative;
    margin: 10px;
    font-size: 5vw;
}

#hello {
    font-weight: bolder;
    font-size: 5vw;
}

#intro > p:first-child {
    font-size: large;
}

#intro > img {
    display: block;
    margin: 20px auto;
    width: 60vw;
}

#intro > p:last-child { /*parágrafo "Guilherme Teixeira"*/
    text-align: right;
    font: bolder 8vw var(--fonte-destaque);
}

h1 {
    padding: 10px;
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.089);
}

#desc {
    padding: 30px 15px;
    text-align: justify;
}

#desc p::first-letter {
    font-size: 200%;
}

.h1-hardskills {/*  título "hard skills"  */
    color: white;
    background-color: var(--cor-padrao);    
}

#hard-skills {
    color: white;
    background-color: var(--cor-padrao);
}

.grid-container-HS {
    padding: 30px 15px;
    justify-content: center;
    display: grid;
    grid-template: 100px 100px / 100px 100px;
    gap: 10px;
}

.grid-item-HS { /*quadrados de "Hard Skills"*/
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-subtitulo);
    background-color: var(--cor-contraste2);
}

.grid-container-SS {
    padding: 30px 15px;
    justify-content: center;
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px;
    gap: 10px;
}

.grid-item-SS { /*quadrados de "Soft Skills"*/
    width: 100px;
    height: 100px; 
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--fonte-subtitulo);
    color: white;
    background-color: var(--cor-contraste1);
}