nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    font-family: var(--fonte-subtitulo);
    font-size: 3.5vw;
}

nav a {
    text-decoration: none;
    padding: 7px;
    color: white;
}

a:hover {
    background-color: var(--cor-padrao);
    transition: .4s;
    border-bottom: 100% solid white;
}

a.active {
    background-color: var(--cor-padrao);
}